<div>
<%= render 'user', user: @user%>
<div class ='d-flex flex-column mt-5 border px-3'>
<h3>
Bio
</h3>
<%= @user.bio %>
</div>
<div  class="mt-2">
<% @posts.each do |post| %>
  <%= render "posts/post", post: post%>
  <%= link_to "Comment", new_user_post_comment_path(@user.id,post.id) %>
<%end%>
</div>
</div>
<div class="my-5">
<%= link_to "Create a New Post",  new_user_post_path(@user.id) %>
</div>