<h1>
Create a post
</h1>

<%= form_with model: post, url: user_posts_path do |form| %>
  <%= form.label :title %><br>
  <%= form.text_field :title %><br>
  <%= form.label :text %><br>
  <%= form.text_area :text %><br>
  <%= form.submit "Add A Post" %>
<% end %> 
